.carrocel-titulo{
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0.1em;
    color: var(--laranja);
    font-weight: 700;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}