.contato{
    background-color: var(--branco);
    padding: 1em;
}

.contato-titulo{
    color: var(--azul);
    font-weight: 500;
    font-size: 18px;
}

.contato-texto{
    font-weight: 300;
    color: var(--azul);
    margin: 1em 0;
}

.contato-email{
    background: transparent;
    border-radius: 24px;
    width: 90%;
    padding: 1em;
    border: 1px solid var(--azul);
    color: var(--azul);
}

.contato-email::placeholder{
    font-family: var(--fonte-principal);
    background: url("../img/carta.png");
    background-repeat: no-repeat;
    background-position:left;
    color: var(--azul);
    padding-left: 2em;
}