.menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu-hamburger.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);
    position: relative;
    align-items: center;
}

.menu-container{
    display: flex;
    align-items: center;
    }

.menu-container-icone{
    padding: 1em;
}

.menu-container-texto{
    display: none;
}

.menu-lista{
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--branco);
    width: 60vw;
}

.menu-container-botao:checked ~ .menu-lista{
    display: block;
}


.menu-lista-titulo, .menu-lista-item{
    padding: 1em;
}

.menu-lista-titulo{
    color: var(--laranja);
    font-weight: 700;
}

.menu-container-botao{
    display: none;
}

.menu-lista-link{
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-transform: uppercase;
}

.menu-logo-titulo{
    display: none;
}

.menu-desktop{
    display: none;
}

@media screen and (min-width: 1024px){
    .menu-logo-titulo{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        font-weight: 400;
        display: block;
    }

    .menu-logo-titulo-negrito{
        font-weight: 700;
    }

    .menu-desktop{
        display: flex;
    }

    .menu-desktop-item{
        margin-right: 4em;
        text-transform: uppercase;
    }

    .menu-desktop-link{
        text-transform: uppercase;
        color: var(--preto);
    }

    .link-favoritos{
        display: none;
    }

    .menu-hamburguer{
        display: none;
    }

    .menu-desktop-botao:checked ~ .menu-lista{
        display: block;
        width: auto;
    }

    .menu-desktop-botao{
        display: none;
    }

   
}

@media screen and (min-width: 1500px){
    .menu-container-texto{
        display: block;
    }
    
    .menu{
        padding: 0 1em;
    }

    .menu-desktop{
        margin-right: auto;
    }

    .menu-logo-titulo{
        margin-right: 1em;
    }
}